@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<div class="container-fluid">
    <h3>Products</h3>

    @foreach (var product in Model)
    {
        

        @*<tr>
            <td>*@
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center" style="width: 18rem;">
                        <img class="card-img-top" src="@product.FrontImage" alt="@product.Name">
                        <div class="card-body">
                            <h4 class="@Html.DisplayForModel(product.Name)">@product.Name</h4>
                            <h5 class="card-text">Description about the product</h5>
                            <p class="card-text">@product.Description</p>
                            @if (product.AmountInStock < 5 && product.AmountInStock > 0)
                            {
                                <p class="card-text">Lagerstatus: </p>
                                <img src="~/images/yellow-button.png" />

                            }
                            else if (product.AmountInStock == 0)
                            {
                                <p class="card-text">Lagerstatus: </p>
                                <img src="~/images/red-button.png" />
                            }
                            else
                            {
                                <p class="card-text">Lagerstatus: </p>
                                <img src="~/images/green-button.png" />
                            }
                            <p class="card-text">Price: @product.Price</p>
                            <a asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-id="@product.Id" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </div>

            @*</td>
                </tr>*@
        </div>
    }

</div>